# Build artifacts
obj/
*.o
$(TARGET)
*.b1
BANKIMG
mapfile

# Source outputs
src/*.asm

# Editor/IDE files
.vscode/
*.swp
*~
.DS_Store

# Logs
*.log

# Temporary files
*.tmp

# Ignore compiled binaries in project root
fartest
